# Maven target directory
target/

# Logs and temporary files
*.log
*.tmp

# Compiled Java classes
*.class

# Eclipse-specific files
.classpath
.project
.settings/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar