# Maven target directory
target/
financialApp/
# Logs and temporary files
*.log
*.tmp

# Compiled Java classes
*.class

# Eclipse-specific files
.classpath
.project
.settings/
.metadata
#vscode specific files
.vscode

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
**.env
