# Maven target directory
target/
# Logs and temporary files
*.log
*.tmp
logs/**
# Compiled Java classes
*.class

# Eclipse-specific files
.classpath
.project
.settings/
.metadata
financialApp/.metadata
**/.factorypath
#vscode specific files
.vscode

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
**.env
scheduler/dependency-reduced-pom.xml

